.header {
    // Параметры шрифта
    font-size: 1.2rem;
    font-weight: 600;

    // Цвет фона шапки
    background-color: #333c4d;

    &__body {
        // Параметры размеров
        width: 100%;

        // Параметры сетки
        display: grid;
        grid-template-columns: auto 10vw 1fr;

        // Отступы
        padding: 20px;

        @media (min-width: $laptop) {
            padding: 12vw;
        }

        @media (max-width: $tablet) {
            // Упрощённая сетка для мобилок
            grid-template-columns: 1fr auto;
            align-items: center;
        }
    }

    &-logo {
        // Шрифт логотипа
        font-size: 20px;
        font-family: $font_logo;

        // Размеры логотипа
        height: $header_h;
        width: 196px;

        // Позиционирование в сетке
        grid-column: 1;

        // Отображение
        display: flex;
        align-items: center;
        justify-content: right;

        // Фон: логотип
        background-image: url("../assets/img/logo.webp");
        background-repeat: no-repeat;
        background-size: 16%;
        background-position: left;
    }

    // Список кнопок
    &-nav {
        // Позиция в сетке
        grid-column: -1;
        // Отображение
        display: flex;

        // Отступы на десктопах
        @media (min-width: $tablet) {
            gap: 1.6em;
        }

        // Адаптивность для мобильных устройств
        @media (max-width: $tablet) {
            // Параметры размеров
            width: clamp(200px, 50vw, 300px); // ! Параметры ширины списка
            height: 100vh;
            // Параметры отображения
            flex-direction: column;
            // Параметры позиционирования
            position: absolute;
            top: $header_h;
            right: 0;
            // Параметры фона
            background-color: #2e3646;
            // Параметры анимации
            transform: translateX(100%);
            transition-duration: .3s;

            // При активации гамбургера
            &.open {
                // Параметры анимации
                transform: translateX(0);
            }
        }

        // Элементы списка кнопок
        &__item {
            // Шрифт
            font-size: 16px;
            font-weight: 600;

            // Анимация
            transition: all 0.2s ease-in-out;

            // Анимация при наведении
            &:hover {
                // Цвет при наведении
                color: #f5b730;

            }

            // Адаптивность для мобильных устройств
            @media (max-width: $tablet) {
                height: 2.8em;
                // Выравнивание
                display: flex;
                align-items: center;
                justify-content: left;
                padding: 0 2em;

                // Анимация при наведении
                &:hover {
                    // Фон при наведении
                    background-color: #333c4d;
                }
            }
        }
    }

    // Гамбургер
    .hamburger {
        // Размер и позиция
        display: none;
        width: 30px;
        height: 22px;
        position: relative;
        cursor: pointer;

        // Положение в сетке (по центру между логотипом и кнопками)
        grid-column: 2;

        // Линии
        span {
            position: absolute;
            height: 3px;
            width: 100%;
            background: #fff;
            left: 0;
            transition: 0.3s;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 9px;
            }

            &:nth-child(3) {
                top: 18px;

            }
        }

        // Активация: превращение в крестик
        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 9px;
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 9px;
                }
            }
        }

        @media (max-width: $tablet) {
            display: block;
        }
    }
}