<header class="header">
    <div class="header__body">
        <div class="header-logo">Header logo</div>
        <div class="header-nav">
            <button class="header-nav__btn header-nav__btn-1">First</button>
            <button class="header-nav__btn header-nav__btn-2">Second</button>
            <button class="header-nav__btn header-nav__btn-3">Third</button>
            <button class="header-nav__btn header-nav__btn-4">Fourth</button>
            <button class="header-nav__btn header-nav__btn-4">Fifth button</button>
        </div>
    </div>
</header>