.wrap {
	display: grid;
	min-height: 100%;
	grid-template-areas: 
	"header header header header"
	"sidebar . main . "
	"footer footer footer footer";
	$gap: 1fr;
	grid-template-columns: 
		$sidebarWidth // * Sidebar
		$gap 
		320px // * Content
		$gap;
	grid-template-rows: 
		$headerHeight // * Header
		minmax(100vh, auto) // * Main
		$footerHeight;// * Footer
}
.header {
	grid-area: header;
}
.sidebar {
	grid-area: sidebar;
}
.main {
	grid-area: main;
}
.footer {
	grid-area: footer;
}