// * Colours
// Monochrome
// Colourful
// Gradients
// Other
$selection-bg: #ffffff71;

// * Sizes
// Devices' & Content's Width
$laptopLarge: 1920px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;
$mobileSmall: 320px;
$laptopLargeContent: 1280px;
$laptopContent: 1000px;
// Width of active device and content
$theDeviceWidth: $mobileSmall; 
$theDeviceContentWidth: $mobileSmall;

// Navigation Elements' Sizes
$headerHeight: 8em;
$sidebarWidth: 10em;
$footerHeight: 200px;

// Content Elements' Sizes
// . . .