// ? : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :
// ? Элементы в сетке страниц 
// ? : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); // Центровка по горизонтали
    width: 100%;
    max-width: $laptopL;
    height: $header_h;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sidebar {
    grid-area: sidebar; // Положение в сетке
    // Стили по умолчанию
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    grid-area: pageContent; // Положение в сетке
    // Стили по умолчанию
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: 2em; // Отступ между секциями

}

.footer {
    grid-area: footer; // Положение в сетке
    // Стили по умолчанию
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    // ? : : : : : : : : : : : : : : : : : : : : : : : 
    // ? Для ВСЕХ устройств
    // ?  : : : : : : : : : : : : : : : : : : : : : : 
    display: grid;
    min-height: 100%;

    // Линии
    grid-template-rows:
        $header_h // Header
        minmax(100vh, auto) // Main
        minmax($footer_h, auto); // Footer

    // ? : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : 
    // ? Для НАСТОЛЬНЫХ устройств
    // ?  : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : 
    @media (max-width: $laptopL),
    (min-width: $laptopL) {
        // Положение в сетке
        grid-template-areas:
            "header header"
            "sidebar pageContent"
            "footer footer";

        // Колонки
        grid-template-columns:
            $sidebar_w // Sidebar
            1fr; // Контент
    }

    // ?  : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : 
    // ? Для МОБИЛЬНЫХ устройств
    // ?  : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :
    @media (max-width: $tablet) {
        // Положение в сетке
        grid-template-areas:
            "header"
            "pageContent"
            "footer";

        // Колонки
        grid-template-columns: 1fr; // Контент

        .sidebar {
            display: none; // ! Отключаем сайдбар
        }
    }
}