// ? Главная страница
.homepage {

    // ? Содержимое Главной страницы
    &__content {}

    // ? Секции главной страницы
    &-sect {
        // Параметры позиционирования
        position: relative;
        grid-column: 2/-2; // Положение в сетке

        // block : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :
        // block Основная секция
        &-primary {
            grid-column: 1/-1;
            height: $fullscreen_h; // Высота секции
            display: flex;
            gap: 2em;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            overflow: hidden;

            background-color: #ffcd05;
            background-image:
                linear-gradient(0deg, #3a2a96c9, #3a2a9686),
                url("../assets/img/Primary Section Background.gif");
            background-position: center;
            background-size:
                cover,
                100% auto;
            background-repeat: no-repeat;

            // elem Заголовок Основной секции
            &__title {
                max-width: 20em;
                font-size: 40px;
                font-weight: 700;
                line-height: 1.4em;
                position: relative;
                text-align: center;
                justify-content: center;
            }

            // Выделенный текст
            &__highlight {
                color: #f5b730;
            }

            // elem Описание Основной секции
            &__description {
                max-width: 35em;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.4em;
                text-align: center;
            }

            // elem Кнопки (контейнер)
            &__buttons {
                display: flex;
                justify-content: center;
                gap: 1.4em;
            }

            // Кнопки
            &__button {
                padding: .8em 2em;
                font-size: 20px;
                font-weight: 600;
                line-height: 1.4em;
                text-align: center;
                text-decoration: none;
                color: #3a2a96dc;
                background-color: $text-color; // Цвет фона
                border-radius: .4em;
                transition: all 0.3s ease-in-out; // Плавный переход

                // Эффект при наведении на кнопки
                &:hover {
                    background-color: transparent; // Цвет фона при наведении
                    color: $text-color; // Цвет текста при наведении
                    box-shadow: inset 0 0 0 .1em $text-color; // Тень при наведении
                }

                &:nth-child(1) {
                    // Параметры для первой кнопки
                    background-color: #f5b730; // Цвет фона

                    // Эффект при наведении на кнопки
                    &:hover {
                        background-color: transparent; // Цвет фона при наведении
                        color: #f5b730; // Цвет текста при наведении
                        box-shadow: inset 0 0 0 .1em #f5b730; // Тень при наведении
                    }
                }
            }
        }

        // block : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :
        // block Секция с карточками
        &-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.4em;

            // elem Заголовок секции с карточками
            &__title {
                // Параметры шрифта
                font-size: 34px;
                font-weight: 700;
                line-height: 1em;
                // * Отступ сверху условной шапки секции
                padding-top: 1em;
            }

            // _ Выделенный текст
            &__highlight {
                color: #a22de5;
            }

            // _ Горизонтальная линия
            &__hr {
                width: 100%;
                height: 1px;
                background-color: $text-color; // Цвет линии
            }

            // elem Описание секции с карточками
            &__description {
                // Параметры шрифта
                font-size: 20px;
                font-weight: 400;
                line-height: 1.4em;
                text-align: center;
                // Максимальная ширина
                max-width: 35em;
            }


            // elem Кнопки секции с карточками (контейнер)
            &__buttons {
                display: flex;
                justify-content: center;
                gap: 1em;
                // * Отступ снизу условной шапки секции
                padding-bottom: 3em;
            }

            // elem Кнопки секции с карточками
            &__button {
                padding: .8em 2em;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.4em;
                text-align: center;
                text-decoration: none;
                color: #333c4d;
                background-color: $text-color; // Цвет фона
                border-radius: .4em;
                transition: all 0.3s ease-in-out; // Плавный переход

                // Эффект при наведении на кнопки
                &:hover {
                    background-color: transparent; // Цвет фона при наведении
                    color: $text-color; // Цвет текста при наведении
                    box-shadow: inset 0 0 0 .1em $text-color; // Тень при наведении
                }

                &:nth-child(1) {
                    // Параметры для первой кнопки
                    background-color: #a22de5; // Цвет фона

                    // Эффект при наведении на кнопки
                    &:hover {
                        background-color: transparent; // Цвет фона при наведении
                        color: #a22de5; // Цвет текста при наведении
                        box-shadow: inset 0 0 0 .1em #a22de5; // Тень при наведении
                    }
                }
            }

            // _ : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :
            // elem Сетка карточек ("homepage-sect-1__cards-grid"/"&__cards-grid")
            // ! Элемент находится в файле "_grid-components.scss".

            // elem Карточки
            &__card {
                position: relative;
                // Параметры отображения
                display: flex;
                gap: 1.4em;
                flex-direction: column;
                justify-content: center;
                // Параметры фона
                background-color: #333c4d; // Цвет фона
                background-image: url("../assets/img/Temporary Homepage Section Image.png");
                background-repeat: no-repeat;
                background-size: 100%; // Размер фона
                background-position: 50% 0%; // Положение фона
                padding: 60% 1.2em 0 1.2em; // Параметры отступов
                // Параметры рамки
                border-radius: .4em; // Скругление углов

                // _ Заголовок карточки
                &-title {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: .6em;
                }

                // _ Звёзды на карточке (контейнер)
                &-stars {
                    display: flex;
                    gap: .6em;
                    font-size: 10px; // Размер шрифта
                }

                // _ Звёзды на карточке
                &-star {
                    // Параметры размеров (квадрат)
                    $size: 1.8em;
                    width: $size;
                    height: $size;
                    // Параметры фона
                    background-image: url("../assets/img/sprite_icons_stars.png");
                    background-repeat: no-repeat; // Повтор фона
                    background-size: cover; // Размер фона
                    background-position-y: center; // Положение фона по оси Y
                    background-color: #22ce19;

                    // Модификаторы (Положение фона по оси X)
                    // mod Заполненная звезда
                    &--filled {
                        background-position-x: 0; // Положение фона по оси X
                    }

                    // mod Полузаполненная звезда
                    &--half {
                        background-position-x: 0; // Положение фона по оси X
                    }

                    // mod Пустая звезда
                    &--empty {
                        background-position-x: 0; // Положение фона по оси X
                    }
                }

                // _ Кнопки карточки (контейнер)
                &-buttons {
                    display: flex;
                    justify-content: center;
                    gap: 1em;
                }

                // _ Кнопки карточки
                &-button {
                    padding: .8em 0;
                    font-size: 16px;
                    width: 100%;
                    font-weight: 600;
                    line-height: 1.4em;
                    text-align: center;
                    text-decoration: none;
                    color: #333c4d;
                    background-color: $text-color; // Цвет фона
                    border-radius: .4em;
                    transition: all 0.3s ease-in-out; // Плавный переход

                    // Эффект при наведении на кнопки
                    &:hover {
                        background-color: transparent; // Цвет фона при наведении
                        color: $text-color; // Цвет текста при наведении
                        box-shadow: inset 0 0 0 .1em $text-color; // Тень при наведении
                    }

                    &:nth-child(2) {
                        // Параметры для первой кнопки
                        background-color: #e5672d; // Цвет фона

                        // Эффект при наведении на кнопки
                        &:hover {
                            background-color: transparent; // Цвет фона при наведении
                            color: #e5672d; // Цвет текста при наведении
                            box-shadow: inset 0 0 0 .1em #e5672d; // Тень при наведении
                        }
                    }
                }
            }
        }
    }
}