.sidebar,
.footer__body {
	font-size: 1.2rem;
	font-weight: 600;
}

.sidebar {
	background-color: #428242;

	&__body {
		&::before {
			content: "SIDEBAR";
		}
	}
}

.footer {
	background-color: #80404c;

	&__body {
		&::before {
			content: "FOOTER";
		}
	}
}

// Копирайт
.copy {
	margin-top: 10px;
	font-weight: 500;

}

// Основной контент
.main {
	// Параметры отображения
	grid-row-gap: 20px; // Отступы между секциями
	// Выделение области с контентом
	background: repeating-linear-gradient(-45deg,
			#333c4d,
			#333c4d 2px,
			transparent 2px,
			transparent 14px);
}